<div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
  <!-- Carousel slides -->
  <div class="carousel-inner">
    <div class="item active">
      <figure>
        <%= image_tag 'header-slide.jpg'%>
      </figure>
      <div class="container">
        <div class="carousel-caption">
          <h3>Online Learning Anytime, Anywhere!</h3>
          <h2>Advantages of Reading Books</h2>
          <p>Good books improve our standard of living. They tone up our intellectual taste they make our outlook broad. They console us when we are depressed.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="http://demo.presstigers.com/libraria/public_html/#home-v1-header-carousel" data-slide="prev"></a>
  <a class="right carousel-control" href="http://demo.presstigers.com/libraria/public_html/#home-v1-header-carousel" data-slide="next"></a>
</div>