<footer class="site-footer">
  <div class="container">
    <div id="footer-widgets">
      <div class="row">
        <div class="col-md-4 col-sm-6 widget-container">
          <div id="text-2" class="widget widget_text">
            <h3 class="footer-widget-title">About Librevn</h3>
            <span class="underline left"></span>
            <div class="textwidget">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking.
            </div>
            <address>
              <div class="info">
                <i class="fa fa-location-arrow"></i>
                <span>55 Tran Phu, HN, VN</span>
              </div>
              <div class="info">
                <i class="fa fa-envelope"></i>
                <span><a href="mailto:support@libraria.com">support@librevn.com</a></span>
              </div>
              <div class="info">
                <i class="fa fa-phone"></i>
                <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>